<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>omdb_API_KEY</key>
	<string>112af520</string>
	<key>kobis_API_KEY</key>
	<string>6f25ceb4b995518d987d1f003e84fae7</string>
</dict>
</plist>
